{% extends 'base.html' %}

{% block content %}

{% if name %}
    <h1> User Added ! </h1>
    {% for message in get_flashed_messages()  %}
    <div class="alert alert-warning alert-dismissible fade show" role="alert">
       {{name }} {{ message }}
        <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
      </div>
    {% endfor %}
    <br/> <br/> <br/>
{% else %}
<div>
    <form action='/add_user' method="POST" enctype="multipart/form-data">
        <h1>Add New User</h1>
                <label class="form-label"> Enter New User's Name: </label>
                <br>
                <input type="text" id="newusername" name='newusername'  class="form-control" required>
                <br>
                <label class="form-label"> Enter New User's Id: </label>
                <br>
                <input type="number" id="newuserid" name='newuserid' class="form-control" required>
                <br>
                <button type='submit' class="btn btn-secondary"> Add New User
                </button>
            </form>
        </br> </br>
            <h2>Total Users in Database: {{totalreg}}</h2>
</div>
<br/> <br/> <br/>
{% endif %}

{% endblock %}