{% extends "base.html" %}
{% block title %} Facial Recognition Attendance System {% endblock %}
{% block mycss %}
<link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='styles/index.css')}}">
{% endblock %}

{% block content %}
<h1>Facial Recognition System </h1>
</br>
<h1>Display Webcam Stream</h1>

{% if mess%}
<p class="text-center" style="color: red;font-size: 20px;">{{ mess }}</p>
{% endif %}

<div class="row text-center">
  <div class="col">
    <h2>Today's Attendance</h2>
      <a style="text-decoration: none;max-width: 300px;" href="/start">
          <button type='submit' class='btn btn-secondary' id="attend_button">
           Take Attendance 
          </button>
      </a>
      <table style="background-color: white;">
            <tr>
                <td><b>S No</b></td>
                <td><b>Name</b></td>
                <td><b>ID</b></td>
                <td><b>Time</b></td>
            </tr>
            {% if l %}

            {% for i in range(l) %}
            <tr>
                <td>{{ i+1 }}</td>
                <td>{{ names[i] }}</td>
                <td>{{ rolls[i] }}</td>
                <td>{{ times[i] }}</td>
            </tr>
            {% endfor %}
            {% endif %}
        </table>

    </div>
{% endblock %}