{% extends 'base.html' %}
{% block mycss %}
<link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='styles/index.css')}}">
{% endblock %}

{% block content %}

{% for message in get_flashed_messages() %}
<div class="alert alert-warning alert-dismissible fade show" role="alert">
    {{ message }}
    <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
  </div>
   
 {% endfor %}

{% if email %}
    <h1> Email: {{ email }} !! </h1>
    <h1> Password: {{ password_hash }} </h1>
{% else %}
    <h1 class="heading">Please Log in to Continue </h1>
    <br/>
    <form method="POST">
        {{ form.hidden_tag() }}
        {{ form.email.label(class="form-label")}}
        {{ form.email(class="form-control") }}
        <br/>
    
        {{ form.password_hash.label(class="form-label")}}
        {{ form.password_hash(class="form-control") }}
        <br/>

        {{ form.submit(class="btn btn-secondary") }}
        
    </form>
    <a href="/name"> Don't have an account ? Register here </a>

{% endif %}

{% endblock %}