body {
    padding: 0px;
	background-color: #333c44;
	color: white;
}
#mynav {
	background-color: #333c44;
}
#content {
	padding: 30px;
}
h1 {
    font-family: sans-serif;
    color: whitesmoke;
}
#container {
	margin: 0px auto;
	width: 520px;
	height: 395px;
	border: 10px #333 solid;
}
#videoElement 
{
	width: 500px;
	height: 375px;
	background-color: #666;
}
#buttonControl {
	margin: 15px 10px 10px 550px;
}